/output
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
tools/livesuit/tools.scj
external-packages/example/example
tools/pack/out/
tools/pack/wboot/rootfs.fex
!dl/*
target/dragonboard/rootfs
/target/dragonboard/sysroot
target/dragonboard/output/bin/
rootfs.ext4
scripts/.packconfig
*.d
*.a
